html, body {
	height: 100%;
    width: 100;
}

body {
	background: linear-gradient(rgba(198, 139, 106, 0.7), rgba(74, 100, 130, 0.7)), url(background.jpg) no-repeat center center fixed;
	background-size: cover;
}

.container {
	min-height: 100%;
	min-width: 100%;
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin-bottom: 0px;
}

.container h1, p {
	color: white;
	padding: 20px;
    max-width: 500px;
    text-align: center;
   	background-color: rgba(74, 100, 130, 0.7);
   	border-radius: 5px;

}

.container h1 {
	font-size: 70px;
	letter-spacing: 5px;
	text-shadow: 6px 6px rgba(198, 139, 106);
	font-family: 'Roboto', sans-serif;
}

.container p {
	font-size: 20px;
	font-family: 'Roboto', sans-serif;
	line-height: 35px;
}

.container button {
	background-color: rgb(161, 96, 59);
	border-color: rgb(161, 96, 59)
}

.container button:hover {
	background-color: rgb(198, 139, 106);
	border-color: rgb(198, 139, 106);
}

.container button, .container button:hover {
	color: white;
	font-family: 'Roboto', sans-serif;
	font-size: 25px;
	padding: 20px;
}

.btn:focus, .btn:active {
  outline: none !important;
  box-shadow: none !important;
}